@import "./svg-bg.scss";

// Variables
$anim-time: 6s;

$shadow-col: rgba(0, 0, 0, 0.4);

%bgElement {
  display: block;
  position: absolute;
  pointer-events: none;
  content: "";
  width: 100%;
  height: 100%;
}

span {
  text-shadow: 0 0 2px rgb(0, 0, 0), 0 0 6px rgb(0, 0, 0);
}

// Add shadow to window title
.window-title {
  text-shadow: 1px 1px 2px black;
}

.xterm-rows {
  background-color: unset !important;
}

@-webkit-keyframes MOVE-BG {
  from {
    -webkit-transform: scale(1.3) translateX(0) translateY(0);
  }
  to {
    -webkit-transform: scale(1.3) translateX(0.5 * $bg-size) translateY(0.5 * $bg-size);
  }
}

/* Workbench */
.monaco-workbench {
  &::before {
    @extend %bgElement;
    background-image: $svg-pattern;
    background-blend-mode: $svg-blend;
    background-size: $bg-size;
    background-color: #000000;
    -webkit-animation-name: MOVE-BG;
    -webkit-animation-duration: 20s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate-reverse;
    -webkit-animation-timing-function: ease-in-out;
  }

  // if we DO have a sidebar
  &:not(.nosidebar) {
    // Extra width
    > .activitybar {
      width: 70px !important;
    }

    // Rounded sidebar
    > .sidebar {
      border-radius: 20px 0 0 20px;
    }
  }

  /* Title Bar */
  .titlebar {
    box-shadow: 0px 3px 3px $shadow-col;
    color: white !important;
    border-bottom: 0 !important;
    animation: lighten $anim-time ease-in-out infinite alternate;

    // Disable activitybar when inactive
    &.inactive {
      + .activitybar {
        opacity: 0.5;
      }
      // Disable activitybar when inactive
      ~ .sidebar {
        border-radius: 1px 1px 1px 1px !important;
      }
    }
  }

  /* Activity Bar */
  .activitybar {
    animation: lighten $anim-time ease-in-out infinite alternate;

    color: white !important;

    .action-item,
    .action-label {
      color: white !important;
      transition: all 0.1s ease-in-out;
    }

    .action-item:hover > .action-label {
      transform: rotateZ(8deg) scale(1.2);
    }
  }

  .sidebar.left {
    &::before {
      // @extend %bgElement;
      // opacity: 0.1;
    }
  }

  .editor {
    // background-color: cornflowerblue;
  }

  .statusbar {
    box-shadow: 0px -3px 5px $shadow-col;
    color: white !important;
    border-top: 0 !important;
    animation: lighten $anim-time ease-in-out infinite alternate;
  }
}

@keyframes lighten {
  from {
    opacity: 0.6;
  }

  to {
    opacity: 0.9;
  }
}

// @keyframes darken {
// 	from {
// 		opacity: 0;
// 	}

// 	to {
// 		opacity: 1;
// 	}
// }
